/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

* {
    
    font-family: 'Poppins', sans-serif;
}

.bookingform {
    background-image: url('MainImg-4.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}


 



.form-container {
    position: relative;
    background-color: rgba(66, 70, 70, 0.466); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #333;
    margin-bottom: 15px;
}

label {
    display: block;
    text-align: left;
    font-weight: 500;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: none;
}

.Booknow{
    background: #ff5733;
    color: white;
    border: none;
    padding: 12px;
    /* width: 100%; */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #2e97dd;
}

.cancel-btn{
    position: absolute;
    right:60px;
    background: #ff5733;
    color: white;
    border: none;
    padding: 12px;
    /* width: 100%; */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}


.similerPackages h2{
    justify-content: center;
    text-align: center;
    background-color: rgba(207, 211, 211, 0.466); /*  background-type:Semi-transparent; */
    border-radius: 10px;
    padding: 10px;
    top: 80%;
    left: 100%;
   
}



