/*  services cards */
 
.services{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.service-Video{
  transform: rotate(180deg);
  position:absolute;
  min-height: auto;
  min-width:50px;
  top:550px;
  z-index: -1;

}
.services-page {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    margin: 0;
   
   
}
  

  .services-header {
    text-align: center;
     background: linear-gradient(to right, #06655550, #e4e5e696);
     box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    color: #2f1706;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  .services-header h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .services-header p {
    font-size: 1.2rem;
  }
  
  .services {
    text-align: center;
  }
  
  .services h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:  #2f1706;;
  }
  
  .services-cards {
    /* background: rgba(63, 63, 63, 0.084); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
  }
  
  .service-card {
    /* background-color: #212f5fec; */
    
    background: linear-gradient(to right, #4a4c4e28, #04504350);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: calc(25% - 20px);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .service-icon {
    font-size: 3rem;
    /* color: #2d3b55; */
    color: #2f1706;
    margin-bottom: 15px;
  }
  
  .service-card h4 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .service-card p {
    font-size: 1.2rem;
    color:  #2f1706;
    margin: 0;
    font-variant: small-caps;
  }
  
  /* Responsive design */
  @media (max-width: 1024px) {
    .service-card {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .service-card {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .services-header h1 {
      font-size: 2rem;
    }
  
    .services-header p {
      font-size: 1rem;
    }
  
    .services h3 {
      font-size: 1.5rem;
    }
  }
  